* {
    font-family: 'Kaisei Opti', serif;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

body{
    background-color: rgb(255, 255, 255);
}

h1{
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 14%;
    letter-spacing: 15px;
    line-height: 80px;
}

h4{
    font-size: 15px;
    margin-bottom: 70px;
    margin-left: 14%;
    letter-spacing: 5px;
    line-height: 32px;
}

.title-right img{
    width: 350px;
    height: 350px;
    margin-top: 25px;
    text-align: right;
    margin-left: 120px;
}

.title-left img{
    width: 70px;
    height: 140px;
    transform: rotate(30deg);
    margin-top: -200px;
    margin-left: 560px;
}

.title-left{
    display: block;
    flex-basis: 630px;
}

.title{
    display: flex;
    margin-bottom: 50px;
    width: 100vw;
}

/*ここまでtitle#C8D6C0*/

.ura{
    height: 210px;
    width: 150px;
    margin-left: 27px;
    flex: none;
    margin-bottom: 50px;
}

.contents {
    display: flex;
    width: 300px;
    margin-right: 10px;
}

.green{
    background-color: #000000;
}

.content-left {
    display: flex;
    flex-direction: column;
}

.content-left p{
    margin-left: 10px;
    font-size: 20px;
    text-align: center;
}

.content-left a{
    margin-left: 10px;
    font-size: 22px;
    background-color: #d4bbb4;
    color: white;
    border-radius: 7px;
    width: 120px;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 13px;
    text-align: center;
}

.content-left a:hover{
    background-color: #38290d;
    transition: 0.5s;
}

.content-left img{
    margin-left: 10px;
    width: 110px;
    height: 110px;
}

.backnumber {
    display: flex;
    flex-wrap: wrap;
}

footer {
    color: #757575;
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
}


.brbr{
    display: none;
}

/*ここからスマホ版*/
@media all and (max-width:480px) {
	.title{
		width: 30%;
        margin-left: 0px;
        display: block;
        margin-bottom: 70px;
	}

    h1{
        font-size: 30px;
        margin-left: 30px;
    }

    h4{
        font-size: 14px;
        letter-spacing: 1.2px;
        line-height: 25px;
        width: 400px;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 0px;
        text-align: center;
    }

    .title-right img{
        width: 250px;
        height: 250px;
        margin-left: 70px;
        opacity: 0.8;
        text-align: center;
        margin-top: 0px;
    }

    .title-left img{
        width: 60px;
        height: 120px;
        margin-top: -200px;
        margin-left: 290px;
        margin-bottom: 100px;
    }

    .backnumber{
        text-align: center;
        margin-left: 0px;
        display: block;
    }

    .contents{
        width: 400px;
    }

    .ura{
        width: 140px;
        height: 205px;
        margin-bottom: 45px;
        margin-right: 23px;
        margin-left: 45px;
    }

    .brbr{
        display: block;
    }  
    
    .content-left a{
        margin-left: 20px;
        font-size: 24px;
        background-color: #d4bbb4;
        color: white;
        border-radius: 7px;
        width: 130px;
        margin-top: 13px;
        margin-bottom: 13px;
        text-align: center;
    }
    
    .reverse{
        flex-direction: row-reverse;
    }

    .reverse img{
        margin-right: 35px;
    }

    footer{
        font-size: 13px;
    }
}
